body {
    background-color: #181818;
    color: white;
    text-align: center;
    margin: 0;
    overflow-y: hidden;
}

.Header {
    font-size: 60px;
    padding-bottom: 10px;
    text-decoration: underline;
    text-shadow: 2px 2px black;
}

.ProfilePicture img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
}

.AboutMeImage img{
    height: 100px;
    width: 200px;
}

.Dev-BlogImage img{
    height: 100px;
    width: 200px;
}

.SocialMedia_Sub-Heading {
    font-size: 40px ;
    text-shadow: 2px 2px black;
    text-decoration: underline;
    position: relative;
}

.buttonTwitter {transform: rotate(-30deg);width: 80px;height: 100px;float: center;position:relative; font-size: 40px;border: 2px solid black;}
.buttonYoutube {width: 100px;height: 80px;float: center;position:relative; font-size: 40px;border: 2px solid black;}
.buttonTwitch {transform: rotate(-15deg);width: 120px;height: 90px;float: center;position:relative; font-size: 40px;border: 2px solid black;}
.buttonSteam {transform: rotate(15deg);width: 90px;height: 80px;float: center;position:relative; font-size: 40px;border: 2px solid black;}
.buttonGithub {width: 70px;height: 100px;float: center;position:relative; font-size: 40px;border: 2px solid black;}

.buttonTwitter:hover{
	background-color: #000000;
	color: #1DA1F2;
}
	
.buttonYoutube:hover{
	background-color: #000000;
	color: #FF0000;
}
	
.buttonTwitch:hover{
	background-color: #000000;
	color: #6441a5;
}
	
.buttonSteam:hover{
	background-color: #000000;
	color: white;
}

.buttonGithub:hover{
	background-color: #000000;
	color: white;
}